.footer{
	clear:both;
	position:absolute;
	bottom:0;
	background-color:#fff;
	height:160px;width:100%;
	padding-left:-10px;
}
.footer ul{
	position:relative;
	display:inline-block;
	float:right;
	list-style-type: none;
	margin-left:30px;}

@media(min-width:1200px) and (max-width:1500px){.footer ul{margin-right:-7px}}
@media(min-width:1501px) and (max-width:1800px){.footer ul{margin-right:-30px}}
@media(max-width:1199px){.footer ul{margin-right:-57px}

.footer ul li{letter-spacing:1px !important}}
.footer ul.company{padding-top:38px;padding-left:35px;padding-right:5px;text-align: left}
.footer ul.help{padding-top:38px;padding-left:20px;text-align: right}
.footer ul li{margin-bottom:2px;letter-spacing:2px}

.footer ul li.heading{
	font-family:
	Arial,Helvetica,sans-serif;
	text-transform:uppercase;
	color:#000;
	font-size:11px;
	margin-bottom:9px}
.footer ul li a{
	font-family:Arial,Helvetica,sans-serif;
	text-transform:uppercase;
	color:#888;text-decoration:none;
	font-size:10px}
.footer ul li a:hover{color:#888}